.keep-watching {
    transform: translateY(-10vw);
    height: 30vw;
}

.keep-watching p {
    z-index: 2;
    font-size: 2rem;
    margin-left: var(--default-margin-left);
}

.swipe-left {
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translate(-50%, -50%);
    height: 40vw;
    width: 6vw;
    cursor: pointer;
    transition: all .2s;
}

.swipe-left img {
    transition: all .2s;
    width: 70%;
    height: 10%;
    transform: rotate(90deg) translate(-50%, -50%);
    position: absolute;
    top: 40%;
}

.swipe-left:hover {
    background: radial-gradient(rgba(var(--black), .3) 20%, rgba(0, 0, 0, 0) 100%);
    outline: none;
    border: none;
}

.swipe-left:hover  img {
    transform: scale(1.3) rotate(90deg) translate(-40%, -40%);
}

.swipe-right {
    padding-left: 2vw;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 1rem;
    transform: translate(-0%, -50%);
    height: 40vw;
    width: 6vw;
    cursor: pointer;
}

.swipe-right img {
    transition: all .2s;
    width: 70%;
    height: 10%;
    transform: rotate(270deg) translate(-50%, -0%);
    position: absolute;
    top: 30%;
}

.swipe-right:hover {
    background: radial-gradient(rgba(var(--black), .3) 20%, rgba(0, 0, 0, 0) 100%);
    outline: none;
    border: none;
}

.swipe-right:hover  img {

    transform: scale(1.3) rotate(270deg) translate(-40%, 0%);
}
